HELP.md
target/
!**/src/main/java/**
!**/src/test/**
MANIFEST.MF
.mvn/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### SpringBoot ###
*.jar
*.sw?
*~
.#*
.DS_Store
.gradle
.metadata
.recommenders
/build
/code
_site/
activemq-data
bin
build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
lib/
manifest.yml
overridedb.*
transaction-logs
.flattened-pom.xml
secrets.yml
.gradletasknamecache